In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
sns.set_style("ticks")
%matplotlib inline

In [10]:
OHXDEN_H = pd.read_csv('/home/ospcx/GitProyects/DAP_Final/data/messy/OHXDEN_H2_CLEANv2.csv', index_col=False)
DEMO_H = pd.read_csv('/home/ospcx/GitProyects/DAP_Final/data/messy/DEMO_H_CLEAN.csv', index_col=False)

In [11]:
OHXDEN_H.head()

,SEQN,OHX02CTC,OHX03CTC,OHX04CTC,OHX05CTC,OHX06CTC,OHX07CTC,OHX08CTC,OHX09CTC,OHX10CTC,...,OHX24CTC,OHX25CTC,OHX26CTC,OHX27CTC,OHX28CTC,OHX29CTC,OHX30CTC,OHX31CTC,MISSINGTEETH,MT
0,73557,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,28,1
1,73558,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,4,1
2,73559,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
3,73560,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,73561,1,0,1,0,0,0,1,1,0,...,1,0,0,0,1,1,1,1,14,1

In [12]:
DEMO_H.head()

,Unnamed: 0,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,0,73557.0,8.0,2.0,1.0,69.0,4.0,4.0,1.0,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1.0,112.0,4.0,4.0,0.84
1,1,73558.0,8.0,2.0,1.0,54.0,3.0,3.0,1.0,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1.0,108.0,7.0,7.0,1.78
2,2,73559.0,8.0,2.0,1.0,72.0,3.0,3.0,2.0,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1.0,109.0,10.0,10.0,4.51
3,3,73560.0,8.0,2.0,1.0,9.0,3.0,3.0,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2.0,109.0,9.0,9.0,2.52
4,4,73561.0,8.0,2.0,2.0,73.0,3.0,3.0,1.0,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2.0,116.0,15.0,15.0,5.00

In [14]:
NEW_DATA = pd.merge(DEMO_H, OHXDEN_H, on='SEQN')
NEW_DATA.shape

(8965, 74)

In [18]:
pd.options.display.max_rows = 100

NEW_DATA.isnull().mean()

Unnamed: 0      0.000000
SEQN            0.000000
SDDSRVYR        0.000000
RIDSTATR        0.000000
RIAGENDR        0.000000
RIDAGEYR        0.000000
RIDRETH1        0.000000
RIDRETH3        0.000000
RIDEXMON        0.000000
RIDEXAGM        0.581595
DMQMILIZ        0.367429
DMDBORN4        0.000000
DMDCITZN        0.000446
DMDEDUC3        0.704183
DMDEDUC2        0.419743
DMDMARTL        0.419743
SIALANG         0.000000
SIAPROXY        0.000000
SIAINTRP        0.000000
FIALANG         0.009370
FIAPROXY        0.009370
FIAINTRP        0.009370
MIALANG         0.213720
MIAPROXY        0.213720
MIAINTRP        0.213720
AIALANGA        0.316899
DMDHHSIZ        0.000000
DMDFMSIZ        0.000000
DMDHHSZA        0.000000
DMDHHSZB        0.000000
DMDHHSZE        0.000000
DMDHRGND        0.000000
DMDHRAGE        0.000000
DMDHRBR4        0.026659
DMDHREDU        0.026436
DMDHRMAR        0.010485
DMDHSEDU        0.469269
WTINT2YR        0.000000
WTMEC2YR        0.000000
SDMVPSU         0.000000
SDMVSTRA        0.000000
INDHHIN2        0.010485
INDFMIN2        0.009481
INDFMPIR        0.071946
OHX02CTC        0.000000
OHX03CTC        0.000000
OHX04CTC        0.000000
OHX05CTC        0.000000
OHX06CTC        0.000000
OHX07CTC        0.000000
OHX08CTC        0.000000
OHX09CTC        0.000000
OHX10CTC        0.000000
OHX11CTC        0.000000
OHX12CTC        0.000000
OHX13CTC        0.000000
OHX14CTC        0.000000
OHX15CTC        0.000000
OHX18CTC        0.000000
OHX19CTC        0.000000
OHX20CTC        0.000000
OHX21CTC        0.000000
OHX22CTC        0.000000
OHX23CTC        0.000000
OHX24CTC        0.000000
OHX25CTC        0.000000
OHX26CTC        0.000000
OHX27CTC        0.000000
OHX28CTC        0.000000
OHX29CTC        0.000000
OHX30CTC        0.000000
OHX31CTC        0.000000
MISSINGTEETH    0.000000
MT              0.000000
dtype: float64

In [20]:
NEW_DATA.to_csv('/home/ospcx/GitProyects/DAP_Final/data/messy/NEW_DATA1.csv')