In [1]:
import pandas as pd

In [3]:
OHXDEN_H_DF = pd.read_csv('../data/messy/OHXDEN_H.csv')
OHXDEN_H_DF.head()

,SEQN,OHDEXSTS,OHDDESTS,OHXIMP,OHX01TC,OHX02TC,OHX03TC,OHX04TC,OHX05TC,OHX06TC,...,OHX14SE,OHX15SE,OHX18SE,OHX19SE,OHX20SE,OHX21SE,OHX28SE,OHX29SE,OHX30SE,OHX31SE
0,73557.0,1.0,1.0,2.0,4.0,4.0,4.0,4.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73558.0,1.0,1.0,2.0,4.0,2.0,5.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,73559.0,1.0,1.0,2.0,4.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73560.0,1.0,1.0,NaN,4.0,4.0,2.0,1.0,1.0,4.0,...,1.0,9.0,9.0,1.0,4.0,0.0,4.0,4.0,1.0,9.0
4,73561.0,1.0,1.0,2.0,4.0,4.0,2.0,4.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
OHXDEN_H_DF.tail()

,SEQN,OHDEXSTS,OHDDESTS,OHXIMP,OHX01TC,OHX02TC,OHX03TC,OHX04TC,OHX05TC,OHX06TC,...,OHX14SE,OHX15SE,OHX18SE,OHX19SE,OHX20SE,OHX21SE,OHX28SE,OHX29SE,OHX30SE,OHX31SE
9417,83727.0,1.0,1.0,NaN,2.0,2.0,2.0,2.0,4.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9418,83728.0,1.0,1.0,NaN,4.0,4.0,4.0,4.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9419,83729.0,1.0,1.0,2.0,2.0,2.0,2.0,4.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9420,83730.0,1.0,1.0,NaN,4.0,4.0,2.0,1.0,1.0,1.0,...,1.0,9.0,9.0,1.0,0.0,0.0,0.0,0.0,1.0,9.0
9421,83731.0,1.0,1.0,NaN,4.0,4.0,2.0,1.0,1.0,1.0,...,13.0,9.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
pd.options.display.max_rows = 150

In [27]:
# TC - Tooth Count
TC = ['SEQN',     'OHDEXSTS', 'OHDDESTS', 'OHXIMP', 
      'OHX01TC',  'OHX02TC',  'OHX03TC',  'OHX04TC', 
      'OHX05TC',  'OHX06TC',  'OHX07TC',  'OHX08TC', 
      'OHX09TC',  'OHX10TC',  'OHX11TC',  'OHX12TC', 
      'OHX13TC',  'OHX14TC',  'OHX15TC',  'OHX16TC', 
      'OHX17TC',  'OHX18TC',  'OHX19TC',  'OHX20TC', 
      'OHX21TC',  'OHX22TC',  'OHX23TC',  'OHX24TC', 
      'OHX25TC',  'OHX26TC',  'OHX27TC',  'OHX28TC', 
      'OHX29TC',  'OHX30TC',  'OHX31TC',  'OHX32TC']

# Coronal Caries: Tooth Count
CTC = ['SEQN',     'OHDEXSTS', 'OHDDESTS', 'OHXIMP',     
       'OHX02CTC', 'OHX03CTC', 'OHX04CTC', 'OHX05CTC', 
       'OHX06CTC', 'OHX07CTC', 'OHX08CTC', 'OHX09CTC', 
       'OHX10CTC', 'OHX11CTC', 'OHX12CTC', 'OHX13CTC', 
       'OHX14CTC', 'OHX15CTC', 'OHX18CTC', 'OHX19CTC', 
       'OHX20CTC', 'OHX21CTC', 'OHX22CTC', 'OHX23CTC', 
       'OHX24CTC', 'OHX25CTC', 'OHX26CTC', 'OHX27CTC', 
       'OHX28CTC', 'OHX29CTC', 'OHX30CTC', 'OHX31CTC'] 

# Coronal Caries: Surface condition
CSC = ['SEQN',     'OHDEXSTS', 'OHDDESTS', 'OHXIMP',
       'OHX02CSC', 'OHX03CSC', 'OHX04CSC', 'OHX13CSC', 
       'OHX14CSC', 'OHX15CSC', 'OHX18CSC', 'OHX19CSC', 
       'OHX20CSC', 'OHX29CSC', 'OHX30CSC', 'OHX31CSC']

# Dental Sealants
SE = ['SEQN',    'OHDEXSTS', 'OHDDESTS', 'OHXIMP',   
      'OHX02SE', 'OHX03SE',  'OHX04SE',  'OHX05SE', 
      'OHX07SE', 'OHX10SE',  'OHX12SE',  'OHX13SE', 
      'OHX14SE', 'OHX15SE',  'OHX18SE',  'OHX19SE', 
      'OHX20SE', 'OHX21SE',  'OHX28SE',  'OHX29SE', 
      'OHX30SE', 'OHX31SE']

In [65]:
OHXDEN_H_TC  = OHXDEN_H_DF[TC]
OHXDEN_H_CTC = OHXDEN_H_DF[CTC]
OHXDEN_H_CSC = OHXDEN_H_DF[CSC]
OHXDEN_H_SE  = OHXDEN_H_DF[SE]

In [66]:
OHXDEN_H_TC = OHXDEN_H_TC.dropna(0, how='any')
OHXDEN_H_TC.to_csv('OHXDEN_H_TC.csv', index=False)

In [67]:
OHXDEN_H_CTC = OHXDEN_H_CTC.dropna(0, how='any')
OHXDEN_H_CTC.to_csv('OHXDEN_H_CTC.csv', index=False)

In [68]:
OHXDEN_H_CSC = OHXDEN_H_CSC.dropna(0, how='any')
OHXDEN_H_CSC.to_csv('OHXDEN_H_CSC.csv', index=False)

In [69]:
OHXDEN_H_SE = OHXDEN_H_CTC.dropna(0, how='any')
OHXDEN_H_SE.to_csv('OHXDEN_H_SE.csv', index=False)