In [1]:
import pandas as pd

In [2]:
DEMO_H_DF = pd.read_csv('/home/ospcx/GitProyects/DAP_Final/data/messy/DEMO_H.csv', index_col=False)
DEMO_H_DF.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557.0,8.0,2.0,1.0,69.0,NaN,4.0,4.0,1.0,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1.0,112.0,4.0,4.0,0.84
1,73558.0,8.0,2.0,1.0,54.0,NaN,3.0,3.0,1.0,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1.0,108.0,7.0,7.0,1.78
2,73559.0,8.0,2.0,1.0,72.0,NaN,3.0,3.0,2.0,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1.0,109.0,10.0,10.0,4.51
3,73560.0,8.0,2.0,1.0,9.0,NaN,3.0,3.0,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2.0,109.0,9.0,9.0,2.52
4,73561.0,8.0,2.0,2.0,73.0,NaN,3.0,3.0,1.0,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2.0,116.0,15.0,15.0,5.00

In [3]:
DEMO_H_DF.isnull().mean()

SEQN        0.000000
SDDSRVYR    0.000000
RIDSTATR    0.000000
RIAGENDR    0.000000
RIDAGEYR    0.000000
RIDAGEMN    0.933857
RIDRETH1    0.000000
RIDRETH3    0.000000
RIDEXMON    0.035577
RIDEXAGM    0.585946
DMQMILIZ    0.384668
DMQADFC     0.946634
DMDBORN4    0.000000
DMDCITZN    0.000393
DMDYRSUS    0.812482
DMDEDUC3    0.724521
DMDEDUC2    0.433022
DMDMARTL    0.433022
RIDEXPRG    0.871351
SIALANG     0.000000
SIAPROXY    0.000098
SIAINTRP    0.000000
FIALANG     0.011892
FIAPROXY    0.011892
FIAINTRP    0.011892
MIALANG     0.281474
MIAPROXY    0.281376
MIAINTRP    0.281278
AIALANGA    0.379165
DMDHHSIZ    0.000000
DMDFMSIZ    0.000000
DMDHHSZA    0.000000
DMDHHSZB    0.000000
DMDHHSZE    0.000000
DMDHRGND    0.000000
DMDHRAGE    0.000000
DMDHRBR4    0.029189
DMDHREDU    0.028894
DMDHRMAR    0.012088
DMDHSEDU    0.474988
WTINT2YR    0.000000
WTMEC2YR    0.000000
SDMVPSU     0.000000
SDMVSTRA    0.000000
INDHHIN2    0.013071
INDFMIN2    0.012088
INDFMPIR    0.077150
dtype: float64

In [4]:
DEMO_H_DF = DEMO_H_DF.drop(columns=['RIDAGEMN', 'DMQADFC', 'DMDYRSUS', 'RIDEXPRG'])

In [5]:
DEMO_H_DF.to_csv('DEMO_H_T.csv', index=False)

In [6]:
is_hispanic = DEMO_H_DF[(DEMO_H_DF.RIDRETH1 == 1) | (DEMO_H_DF.RIDRETH1 == 2)] 
is_hispanic.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
5,73562.0,8.0,2.0,1.0,56.0,1.0,1.0,1.0,NaN,1.0,...,4.0,3.0,NaN,24978.144602,25344.992359,1.0,111.0,9.0,9.0,4.79
8,73565.0,8.0,1.0,1.0,42.0,2.0,2.0,NaN,NaN,2.0,...,3.0,1.0,5.0,23307.675629,0.000000,2.0,106.0,15.0,15.0,5.00
20,73577.0,8.0,2.0,1.0,32.0,1.0,1.0,1.0,NaN,2.0,...,3.0,6.0,NaN,36284.650273,39735.017070,2.0,118.0,5.0,2.0,0.29
21,73578.0,8.0,2.0,1.0,18.0,1.0,1.0,1.0,218.0,2.0,...,3.0,1.0,1.0,11592.846429,11758.631127,2.0,118.0,5.0,5.0,0.58
33,73590.0,8.0,2.0,1.0,2.0,1.0,1.0,1.0,30.0,NaN,...,4.0,1.0,4.0,12254.739004,12849.217833,1.0,106.0,5.0,5.0,0.80

In [7]:
is_hispanic.tail()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
10168,83725.0,8.0,2.0,1.0,7.0,1.0,1.0,1.0,95.0,NaN,...,4.0,4.0,NaN,20425.791465,20632.950468,1.0,106.0,6.0,6.0,1.07
10169,83726.0,8.0,2.0,1.0,40.0,1.0,1.0,1.0,NaN,2.0,...,1.0,3.0,NaN,45268.572702,49177.291000,2.0,115.0,9.0,9.0,3.81
10170,83727.0,8.0,2.0,1.0,26.0,2.0,2.0,2.0,NaN,2.0,...,3.0,NaN,NaN,27141.631824,28115.568221,1.0,104.0,77.0,77.0,NaN
10171,83728.0,8.0,2.0,2.0,2.0,1.0,1.0,2.0,24.0,NaN,...,3.0,1.0,3.0,15274.475360,16512.138781,1.0,107.0,8.0,8.0,1.95
10173,83730.0,8.0,2.0,1.0,7.0,2.0,2.0,1.0,84.0,NaN,...,4.0,1.0,3.0,25521.878546,26686.025573,2.0,109.0,6.0,6.0,1.05

In [8]:
is_hispanic.shape

(2690, 43)

In [9]:
is_hispanic3 = DEMO_H_DF[(DEMO_H_DF.RIDRETH3 == 1) | (DEMO_H_DF.RIDRETH3 == 2)] 
is_hispanic3.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
5,73562.0,8.0,2.0,1.0,56.0,1.0,1.0,1.0,NaN,1.0,...,4.0,3.0,NaN,24978.144602,25344.992359,1.0,111.0,9.0,9.0,4.79
8,73565.0,8.0,1.0,1.0,42.0,2.0,2.0,NaN,NaN,2.0,...,3.0,1.0,5.0,23307.675629,0.000000,2.0,106.0,15.0,15.0,5.00
20,73577.0,8.0,2.0,1.0,32.0,1.0,1.0,1.0,NaN,2.0,...,3.0,6.0,NaN,36284.650273,39735.017070,2.0,118.0,5.0,2.0,0.29
21,73578.0,8.0,2.0,1.0,18.0,1.0,1.0,1.0,218.0,2.0,...,3.0,1.0,1.0,11592.846429,11758.631127,2.0,118.0,5.0,5.0,0.58
33,73590.0,8.0,2.0,1.0,2.0,1.0,1.0,1.0,30.0,NaN,...,4.0,1.0,4.0,12254.739004,12849.217833,1.0,106.0,5.0,5.0,0.80

In [10]:
is_hispanic3.tail()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
10168,83725.0,8.0,2.0,1.0,7.0,1.0,1.0,1.0,95.0,NaN,...,4.0,4.0,NaN,20425.791465,20632.950468,1.0,106.0,6.0,6.0,1.07
10169,83726.0,8.0,2.0,1.0,40.0,1.0,1.0,1.0,NaN,2.0,...,1.0,3.0,NaN,45268.572702,49177.291000,2.0,115.0,9.0,9.0,3.81
10170,83727.0,8.0,2.0,1.0,26.0,2.0,2.0,2.0,NaN,2.0,...,3.0,NaN,NaN,27141.631824,28115.568221,1.0,104.0,77.0,77.0,NaN
10171,83728.0,8.0,2.0,2.0,2.0,1.0,1.0,2.0,24.0,NaN,...,3.0,1.0,3.0,15274.475360,16512.138781,1.0,107.0,8.0,8.0,1.95
10173,83730.0,8.0,2.0,1.0,7.0,2.0,2.0,1.0,84.0,NaN,...,4.0,1.0,3.0,25521.878546,26686.025573,2.0,109.0,6.0,6.0,1.05

In [11]:
is_hispanic3.shape

(2690, 43)

In [12]:
is_hispanic_d = DEMO_H_DF[
    (DEMO_H_DF.RIDRETH1 == 1) | (DEMO_H_DF.RIDRETH1 == 1) | 
    (DEMO_H_DF.RIDRETH1 == 2) | (DEMO_H_DF.RIDRETH1 == 2) |
    (DEMO_H_DF.RIDRETH3 == 1) | (DEMO_H_DF.RIDRETH3 == 1) | 
    (DEMO_H_DF.RIDRETH1 == 2) | (DEMO_H_DF.RIDRETH3 == 2) ] 
is_hispanic_d.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
5,73562.0,8.0,2.0,1.0,56.0,1.0,1.0,1.0,NaN,1.0,...,4.0,3.0,NaN,24978.144602,25344.992359,1.0,111.0,9.0,9.0,4.79
8,73565.0,8.0,1.0,1.0,42.0,2.0,2.0,NaN,NaN,2.0,...,3.0,1.0,5.0,23307.675629,0.000000,2.0,106.0,15.0,15.0,5.00
20,73577.0,8.0,2.0,1.0,32.0,1.0,1.0,1.0,NaN,2.0,...,3.0,6.0,NaN,36284.650273,39735.017070,2.0,118.0,5.0,2.0,0.29
21,73578.0,8.0,2.0,1.0,18.0,1.0,1.0,1.0,218.0,2.0,...,3.0,1.0,1.0,11592.846429,11758.631127,2.0,118.0,5.0,5.0,0.58
33,73590.0,8.0,2.0,1.0,2.0,1.0,1.0,1.0,30.0,NaN,...,4.0,1.0,4.0,12254.739004,12849.217833,1.0,106.0,5.0,5.0,0.80

In [13]:
is_hispanic_d.shape

(2690, 43)

In [14]:
is_hispanic_d.to_csv('DEMO_H_HISP.csv', index=False)

In [15]:
is_hispanic_d.isnull().mean()

SEQN        0.000000
SDDSRVYR    0.000000
RIDSTATR    0.000000
RIAGENDR    0.000000
RIDAGEYR    0.000000
RIDRETH1    0.000000
RIDRETH3    0.000000
RIDEXMON    0.027881
RIDEXAGM    0.490706
DMQMILIZ    0.465799
DMDBORN4    0.000000
DMDCITZN    0.001115
DMDEDUC3    0.662825
DMDEDUC2    0.526022
DMDMARTL    0.526022
SIALANG     0.000000
SIAPROXY    0.000372
SIAINTRP    0.000000
FIALANG     0.013011
FIAPROXY    0.013011
FIAINTRP    0.013011
MIALANG     0.306691
MIAPROXY    0.306691
MIAINTRP    0.306691
AIALANGA    0.357249
DMDHHSIZ    0.000000
DMDFMSIZ    0.000000
DMDHHSZA    0.000000
DMDHHSZB    0.000000
DMDHHSZE    0.000000
DMDHRGND    0.000000
DMDHRAGE    0.000000
DMDHRBR4    0.026766
DMDHREDU    0.026022
DMDHRMAR    0.015613
DMDHSEDU    0.423048
WTINT2YR    0.000000
WTMEC2YR    0.000000
SDMVPSU     0.000000
SDMVSTRA    0.000000
INDHHIN2    0.015613
INDFMIN2    0.013011
INDFMPIR    0.113383
dtype: float64